@page "/Admin/MisDatos"
@inherits MisDatosBase
@rendermode InteractiveServer

<PageTitle>Mis Datos</PageTitle>

<div class="container-fluid">
    @if (isLoading)
    {
        <div class="row">
            <div class="col">
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h3>Datos Personales</h3>
                <RadzenButton Click="@RefreshData"
                            Icon="refresh"
                            ButtonStyle="@(isRefreshing ? ButtonStyle.Light : ButtonStyle.Primary)"
                            Variant="Variant.Filled"
                            Disabled="@isRefreshing"
                            class="me-2">
                    @(isRefreshing ? "Actualizando..." : "Refrescar")
                </RadzenButton>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="row mb-3">
            <div class="col">
                <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="true" Variant="Variant.Flat" Shade="Shade.Lighter">
                    @errorMessage
                </RadzenAlert>
            </div>
        </div>
    }

    <div class="row mb-3 bg-light p-3 rounded">
        <div class="col-md-6">
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenFormField Text="Organización" Style="width: 100%;">
                        <RadzenLabel Text="@(miOrg?.Comercial ?? "")" Style="font-weight: bold;" />
                    </RadzenFormField>
                </div>
                <div class="col-md-6">
                    <RadzenFormField Text="Nivel" Style="width: 100%;">
                        <RadzenLabel Text="@Constantes.Niveles.Split(',')[CurrentUser.Nivel - 1]" Style="font-weight: bold;" />
                    </RadzenFormField>
                </div>
            </div>

            <RadzenTemplateForm TItem="ApplicationUser" Data="@CurrentUser" Submit=@SaveChanges>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <RadzenFormField Text="Nombre" Style="width: 100%;">
                            <RadzenTextBox @bind-Value="@CurrentUser.Nombre" Style="width: 100%" Name="Nombre" />
                            <RadzenRequiredValidator Component="Nombre" Text="El nombre es requerido" />
                        </RadzenFormField>
                    </div>
                    <div class="col-md-4">
                        <RadzenFormField Text="Apellido Paterno" Style="width: 100%;">
                            <RadzenTextBox @bind-Value="@CurrentUser.Paterno" Style="width: 100%" Name="Paterno" />
                            <RadzenRequiredValidator Component="Paterno" Text="El apellido paterno es requerido" />
                        </RadzenFormField>
                    </div>
                    <div class="col-md-4">
                        <RadzenFormField Text="Apellido Materno" Style="width: 100%;">
                            <RadzenTextBox @bind-Value="@CurrentUser.Materno" Style="width: 100%" Name="Materno" />
                        </RadzenFormField>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <RadzenFormField Text="Email" Style="width: 100%;">
                            <RadzenTextBox @bind-Value="@CurrentUser.Email" Style="width: 100%" Name="Email" />
                            <RadzenRequiredValidator Component="Email" Text="El email es requerido" />
                            <RadzenEmailValidator Component="Email" Text="Formato de email inválido" />
                        </RadzenFormField>
                    </div>
                    <div class="col-md-6">
                        <RadzenFormField Text="Fecha de Nacimiento" Style="width: 100%;">
                            <RadzenDatePicker @bind-Value="@CurrentUser.FechaNacimiento"
                                            DateFormat="dd/MM/yyyy"
                                            Style="width: 100%"
                                            ShowTime="false" />
                        </RadzenFormField>
                    </div>
                </div>

                <h4 class="mt-4">Cambiar Contraseña</h4>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <RadzenFormField Text="Contraseña Actual" Style="width: 100%;">
                            <div class="input-group">
                                <RadzenPassword @bind-Value="@currentPassword"
                                              type=@(showCurrentPassword ? "text" : "password")
                                              Style="width: 100%" />
                                <div class="input-group-append">
                                    <RadzenButton Click="@(() => showCurrentPassword = !showCurrentPassword)"
                                                Icon="@(showCurrentPassword ? "visibility_off" : "visibility")"
                                                ButtonStyle="ButtonStyle.Light"
                                                class="h-100" />
                                </div>
                            </div>
                        </RadzenFormField>
                    </div>
                    <div class="col-md-4">
                        <RadzenFormField Text="Nueva Contraseña" Style="width: 100%;">
                            <div class="input-group">
                                <RadzenPassword @bind-Value="@newPassword"
                                              type=@(showNewPassword ? "text" : "password")
                                              Style="width: 100%" />
                                <div class="input-group-append">
                                    <RadzenButton Click="@(() => showNewPassword = !showNewPassword)"
                                                Icon="@(showNewPassword ? "visibility_off" : "visibility")"
                                                ButtonStyle="ButtonStyle.Light"
                                                class="h-100" />
                                </div>
                            </div>
                        </RadzenFormField>
                    </div>
                    <div class="col-md-4">
                        <RadzenFormField Text="Confirmar Contraseña" Style="width: 100%;">
                            <div class="input-group">
                                <RadzenPassword @bind-Value="@confirmPassword"
                                              type=@(showConfirmPassword ? "text" : "password")
                                              Style="width: 100%" />
                                <div class="input-group-append">
                                    <RadzenButton Click="@(() => showConfirmPassword = !showConfirmPassword)"
                                                Icon="@(showConfirmPassword ? "visibility_off" : "visibility")"
                                                ButtonStyle="ButtonStyle.Light"
                                                class="h-100" />
                                </div>
                            </div>
                        </RadzenFormField>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <RadzenButton ButtonType="ButtonType.Submit"
                                    Icon="save"
                                    Text="Guardar Cambios"
                                    ButtonStyle="ButtonStyle.Primary"
                                    Variant="Variant.Filled"
                                    Disabled="@isSaving" />
                    </div>
                </div>
            </RadzenTemplateForm>
        </div>
    </div>
</div> 